@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0e0c18;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: start;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: #ffffff;
    width: 50vw;
    margin-top: 100px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px #00000048;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

section.main-contents {
    display: flex;
    flex-flow: column nowrap;
    margin:  10px 20px 0px 20px;
    color: black;
}

div.card-info {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

section.main-contents picture img.my-photo {
    width: 100px;
    height: 140px;
    margin-top: 10px;
    border: 1px solid #aaaaaa77;
    border-radius: 15px;
}

div.card-info article {
    margin-left: 20px;
    padding: 10px;
    width: 55%;
    border-right: 1px solid #aaaaaa77;
}
 
div.social-media {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.social-media ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 140px;
    height: 140px;
}

div.social-media ul li.social {
    margin-bottom: 39px;
    margin: 5px 5px;
    width: 50px;
    height: 50px;
}

div.social-media img {
    padding: 5px;
    border-radius: 15px;
}
    
div.social-media img#instagram {
    background: linear-gradient(-45deg, #FEC053, #F11F3D, #C6258D, #5442D6);
    transition: transform 0.2s ease-in-out;
}

div.social-media img#linkedin {
    background: #0A66C2;
    transition: transform 0.2s ease-in-out;
}

div.social-media img#discord {
    background: #535FEE;
    transition: transform 0.2s ease-in-out;
}

div.social-media img#github {
    background: #1C2128;
    transition: transform 0.2s ease-in-out;
}

/* Abaixo estão as transições "hover" dos ícone das redes sociais */

img#instagram:hover {
    transform: scale(1.1);
}

img#linkedin:hover {
    transform: scale(1.1);
}

img#discord:hover {
    transform: scale(1.1);
}

img#github:hover {
    transform: scale(1.1);
}

/* Estilo da div de skills */

div.card-skills {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

div.card-skills ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
}

li.list-skills {
    margin: 20px;
    text-align: center;
}

li.list-skills h2 {
    font-size: 1.3em;
}


/* Estilo do botão "Projetos" */

span {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

span button.projects-btn-open {
    margin: 10px;
    padding: 5px;
    width: 40%;
    height: 35px;
    border-radius: 6px;
    border: 1px solid rgba(151, 150, 150, 0.527);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    background: linear-gradient(45deg, #1b172e, #0e0c18, #1b172e);
    color: white;
    box-shadow: 0px 0px 10px #00000036;
}

button.projects-btn-open:hover {
    transform: scale(1.03);
} 

button.projects-btn-open:active {
    transform: scale(1.0);
}

/* Estilo da div-card "Projetos" */

div.card-projects {
    height: 0;
    text-align: center;
    margin: 8px;
    border-top: 1px solid #aaaaaa77;
    overflow: hidden !important;
}

div.card-projects.card-projects-opened {
    height: auto;
}

div.card-projects h1 {
    margin-top: 30px;
}

div.main-items {
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

div.items {
    width: 200px;
    margin: 10px;
    border: 0.5px solid #aaaaaa77;
    border-radius: 8px;
    box-shadow: 0px 0px 15px #0000005b;
    overflow: hidden;
}

img.items-img-projects {
    width: 100%;
} 

div.items span {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    
}

div.items a {
    padding: 8px;
    margin: 0px 0px 10px 0px;
    border-radius: 8px;
    text-decoration: none;
    background-color: #1b172e;
    color: white;
    transition: transform 0.1s ease-in-out;
    box-shadow: 0px 0px 10px #00000054;
}

div.items a:hover {
    transform: scale(1.03);
}
