@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0e0c18;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

main {
    background-color: #ffffff;
    width: 80vw;
    max-width: 800px;
    margin-top: 100px;
    border-radius: 12px 12px;
    box-shadow: 0px 0px 15px #00000048;
}

section.main-contents {
    display: flex;
    flex-flow: column nowrap;
    margin: 20px;
    color: black;
}

div.card-info {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

section.main-contents picture img.my-photo {
    width: 90px;
    height: 100px;
    margin-top: 8px;
    border: 1px solid #aaaaaa77;
    border-radius: 8px;
}

div.card-info article {
    margin-left: 20px;
    padding: 10px;
    width: 60%;
    text-align: justify;
    border-right: 1px solid #aaaaaa77;
}
 
div.social-media {
 width: 40%;
 display: flex;
 justify-content: center;
 align-items: center;
}

div.social-media ul {
    list-style: none;
    columns: 2;
    width: 140px;
    height: 130px;
}

div.social-media ul li.social {
    margin-bottom: 39px;
    width: 40px;
    height: 40px;
}

div.social-media img {
    padding: 5px;
    border-radius: 15px;
}
    
div.social-media img#instagram {
    background: linear-gradient(-45deg, #FEC053, #F11F3D, #C6258D, #5442D6);
}

div.social-media img#linkedin {
    background: #0A66C2;
}

div.social-media img#discord {
    background: #535FEE;
}

div.social-media img#github {
    background: #1C2128;
}
